<h1>Chat</h1>

<label for="user">User</label><input id="inputUser" name="user" type="text">
<label for="mensaje">Mensaje</label><input id="inputMensaje" name="mensaje" type="text">
<button id="btnEnviar">Enviar</button>

<h3>Mensajes</h3>

<div id="mensajes"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>

